<%
const {language, appId, routeData, page} = htmlWebpackPlugin.options;
let {imageRoot, contentRoot, omniBase, baseUrl, apiUrl} = routeData;

imageRoot = imageRoot.replace('{locale}', `${page}_${language}`);
contentRoot = contentRoot.replace('{locale}', `${page}_${language}`);
omniBase = omniBase.replace('{locale}', `${page}_${language}`);
baseUrl = baseUrl.replace('{locale}', `${page}_${language}`);


imageRoot = imageRoot.replace('{appId}', appId);
contentRoot = contentRoot.replace('{appId}', appId);
omniBase = omniBase.replace('{appId}', appId);
baseUrl = baseUrl.replace('{appId}', appId);

const omniType = 'microsite';

const translation = require(`../../data/translations/locale-${page}-${language}`);

const t = (str) => (translation[str] ? translation[str] : str);

const about = require('./_about.ejs');

%>
<!DOCTYPE html>
<html lang="<%= language %>">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>

<body>
  <%

  %>
  <div class="main-wrap sece-language-<%= language %>" data-page="<%= page %>" data-language="<%= language %>" data-base-url="<%= baseUrl %>" data-omni-base="<%= omniBase %>" data-assets-image="<%= imageRoot %>" data-assets-content="<%= contentRoot %>">

    <div id="page-wrapper" class="grey">

      <section id="header" class="section section-header">
        <div class="wrapper">
          <div class="col col-12 col-wrapper">
            <div class="col col-4 red">logo</div>
            <div class="col col-4 ">tel:phone-number</div>
            <div class="col col-4 red">goto:main-page</div>
          </div>
        </div>
      </section>

      <section id="achievements" class="section section-header">
        <div class="wrapper">
          <div class="col col-12 col-wrapper">
            <div class="col col-4">homestars</div>
            <div class="col col-4">bbb</div>
            <div class="col col-4">google</div>
          </div>
        </div>
      </section>
      
      <section id="comfort" class="section section-comfort">
        <div class="wrapper">
          <div class="col col-6">
            <h3>comfort text</h3>
          </div>
          <div class="col col-6">
            <h3>img</h3>
          </div>
        </div>
        <div class="wrapper">
          <div class="col col-6">button</div>
          <div class="col col-6">button</div>
        </div>
      </section>

      <section id="why-heat-pump" class="section section-why-heat-pump">
        <div class="wrapper">
          <div class="col col-12">
            <h2>title</h2>
          </div>
          <div class="tiles">
            <div class="col col-6"><h3>tile-1</h3></div>
            <div class="col col-6"><h3>tile-2</h3></div>
            <div class="col col-6"><h3>tile-3</h3></div>
            <div class="col col-6"><h3>tile-4</h3></div>
          </div>
        </div>
      </section>
      
      <section id="banner-family" class="section section-banner-family">
        <div class="wrapper wrapper-center">
          <div class="col col-12">
            <h3>img</h3>
          </div>
        </div>
      </section>
      
      <section id="steps" class="section section-steps">
        <div class="wrapper">
          <div class="col col-12">
            <h2>title</h2>
          </div>
          <div class="col col-12 col-wrapper">
            <div class="col col-6">img</div>
            <div class="col col-6 col-wrapper">
              <div class="col col-12">text</div>
              <div class="col col-12">phone</div>
              <div class="col col-12">time</div>
            </div>
          </div>

          <div class="col col-12 col-wrapper">
            <div class="col col-6 col-wrapper">
              <div class="col col-12">text</div>
              <div class="col col-12">button</div>
            </div>
            <div class="col col-6">img</div>
          </div>
        </div>
      </section>

      <section id="steps" class="section section-steps">
        <div class="wrapper">
          <div class="col col-12">
            <h2>section break</h2>
          </div>

          <div class="col col-12">title</div>
          <div class="col col-12">excellent</div>
          <div class="col col-12">google logo</div>
          <div class="col col-12">stars</div>
          <div class="col col-12">subtitle</div>

          <div class="col col-12">
            <div class="carousel reviews">
              <h2>carousel</h2>
            </div>
          </div>
          
          <div class="col col-12">
            <h2>section break</h2>
          </div>
        </div>
      </section>

      <section id="why-we" class="section section-why-we">
        <div class="wrapper">
          <div class="col col-12">
            <h2>title</h2>
          </div>
          <div class="col col-12">
            <h2>paragraph</h2>
          </div>
          <div class="col col-12 col-wrapper">
            <!-- // half -->
            <div class="col col-6 col-wrapper">
              <!-- // block -->
              <div class="col col-4">
                <h2>bbb logo</h2>
              </div>
              <div class="col col-8 col-wrapper">
                <div class="col col-12">
                  <h2>title</h2>
                </div>
                <div class="col col-12">
                  <h2>subtitle</h2>
                </div>
              </div>
              <!-- // block -->
              <div class="col col-4">
                <h2>bbb logo</h2>
              </div>
              <div class="col col-8 col-wrapper">
                <div class="col col-12">
                  <h2>title</h2>
                </div>
                <div class="col col-12">
                  <h2>subtitle</h2>
                </div>
              </div>
              <!-- // block -->
              <div class="col col-4">
                <h2>10 years</h2>
              </div>
              <div class="col col-8 col-wrapper">
                <div class="col col-12">
                  <h2>title</h2>
                </div>
                <div class="col col-12">
                  <h2>subtitle</h2>
                </div>
              </div>
          </div>
          <!-- // half -->
          <div class="col col-6 col-wrapper">
            <!-- // block -->
            <div class="col col-4">
              <h2>google</h2>
            </div>
            <div class="col col-8 col-wrapper">
              <div class="col col-12">
                <h2>title</h2>
              </div>
              <div class="col col-12">
                <h2>subtitle</h2>
              </div>
            </div>
          
            <!-- // block -->
            <div class="col col-4">
              <h2>licensed & certified</h2>
            </div>
            <div class="col col-8 col-wrapper">
              <div class="col col-12">
                <h2>title</h2>
              </div>
              <div class="col col-12">
                <h2>subtitle</h2>
              </div>
            </div>
          
            <!-- // block -->
            <div class="col col-4">
              <h2>$2M liability</h2>
            </div>
            <div class="col col-8 col-wrapper">
              <div class="col col-12">
                <h2>title</h2>
              </div>
              <div class="col col-12">
                <h2>subtitle</h2>
              </div>
            </div>
          </div>
        </div>
        
      </section>

      <section id="home" class="section section-home">
        <div class="wrapper">
          <div class="col col-6">
            <h2>home logo</h2>
          </div>
          <div class="col col-6">
            <h2>save energy logo</h2>
          </div>

          <div class="col col-12">
            <h2>title</h2>
          </div>
          <div class="col col-12">
            <h2>paragraph</h2>
          </div>
          
          <div class="col col-12 col-wrapper">
            <div class="col col-5">
              <h2>text</h2>
            </div>
            <div class="col col-3 col-wrapper">
              <div class="col col-12">
                <h2>button</h2>
              </div>
              <div class="col col-12">
                <h2>button</h2>
              </div>
            </div>
            <div class="col col-4">
              <h2>sticker img</h2>
            </div>
          </div>

        </div>
      </section>

      <section id="brands" class="section section-brands">
        <div class="wrapper">
          <div class="col col-12">
            <h2>title</h2>
          </div>
          <div class="col col-12">
            <div class="carousel brands"></div>
          </div>
      </section>
          
      <section id="learn" class="section section-learn">
          <div class="col col-12">
            <h2>title</h2>
          </div>
          <div class="col col-12 col-wrapper">
            <div class="col col-6"><h2>tile with text</h2></div>
            <div class="col col-6"><h2>img</h2></div>
          </div>
          
          <div class="col col-12 col-wrapper">
            <div class="col col-6"><h2>img</h2></div>
            <div class="col col-6"><h2>tile with text</h2></div>
          </div>
          <div class="col col-12 col-wrapper">
            <div class="col col-6"><h2>tile with text</h2></div>
            <div class="col col-6"><h2>img</h2></div>
          </div>
      </section>
          
      <section id="our-work" class="section">
        <div class="col col-12 col-wrapper">
          <div class="col col-3">img</div>
          <div class="col col-9"><h2>title</h2></div>
        </div>
        <div class="col col-12">
          <div class="carousel works">
            <h2>carousel works</h2>
          </div>
        </div>
        <div class="col col-12 col-wrapper">
          <div class="col col-6"><h2>button</h2></div>
          <div class="col col-6"><h2>button</h2></div>
        </div>
      </section>

      <section id="get-quote" class="section section-get-quote">
        <div class="wrapper">
          <div class="col col-6">
            <!-- // WRAPPER -->
            <div class="col col-12"><h2>title</h2></div>
            <div class="col col-12"><h2>form field</h2></div>
            <div class="col col-12"><h2>form field</h2></div>
            <div class="col col-12"><h2>form field</h2></div>
            <div class="col col-12"><h2>form field</h2></div>
            <div class="col col-12"><h2>form field</h2></div>
            <div class="col col-12"><h2>button</h2></div>
          </div>
        </div>
      </section>

      <section id="footer" class="section section-footer">
        <div class="wrapper">

          <div class="col col-12 col-wrapper">
            <div class="col col-4 col-wrapper">
              <div class="col col-4">img</div>
              <div class="col col-8">text</div>
            </div>

            <div class="col col-4 col-wrapper">
              <div class="col col-4">img</div>
              <div class="col col-8">text</div>
            </div>

            <div class="col col-4 col-wrapper">
              <div class="col col-4">img</div>
              <div class="col col-8">text</div>
            </div>
          </div>

          <div class="col col-12 col-wrapper">
            <div class="col col-3 col-wrapper">
              <div class="col col-12">logo</div>
            </div>
            
            <div class="col col-3 col-wrapper">
              <div class="col col-4">img</div>
              <div class="col col-8">text</div>
            </div>
            
            <div class="col col-3 col-wrapper">
              <div class="col col-4">img</div>
              <div class="col col-8">text</div>
            </div>
            
            <div class="col col-3 col-wrapper">
              <div class="col col-4">img</div>
              <div class="col col-8">text</div>
            </div>

          </div>

          <div class="col col-12 col-wrapper"></div>
          
        </div>
      </section>
    </div>
  </div>
</body>

</html>