<%
const {language, appId, routeData, page} = htmlWebpackPlugin.options;
let {imageRoot, contentRoot, omniBase, baseUrl, apiUrl} = routeData;

imageRoot = imageRoot.replace('{locale}', `${page}_${language}`);
contentRoot = contentRoot.replace('{locale}', `${page}_${language}`);
omniBase = omniBase.replace('{locale}', `${page}_${language}`);
baseUrl = baseUrl.replace('{locale}', `${page}_${language}`);


imageRoot = imageRoot.replace('{appId}', appId);
contentRoot = contentRoot.replace('{appId}', appId);
omniBase = omniBase.replace('{appId}', appId);
baseUrl = baseUrl.replace('{appId}', appId);

const omniType = 'microsite';

const translation = require(`../../data/translations/locale-${page}-${language}`);

const t = (str) => (translation[str] ? translation[str] : str);

const about = require('./_about.ejs');

%>
<!DOCTYPE html>
<html lang="<%= language %>">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>

<body>
  <%

  %>
  <div class="main-wrap sece-language-<%= language %>" data-page="<%= page %>" data-language="<%= language %>" data-base-url="<%= baseUrl %>" data-omni-base="<%= omniBase %>" data-assets-image="<%= imageRoot %>" data-assets-content="<%= contentRoot %>">

    <div id="page-wrapper" class="grey">

      <section id="header" class="section section-header">
        <div class="wrapper">
          <div class="col col-12 col-wrapper">
            <div class="col col-4">logo</div>
            <div class="col col-4 col-wrapper">
              <div class="col col-4">img-phone</div>
              <div class="col col-8">416 554 95 95</div>
            </div>
            <div class="col col-4 col-wrapper">
              <div class="col col-4">img-globe</div>
              <div class="col col-8">VISIT MAIN SITE</div>
            </div>
            <div class="col col-4 col-wrapper">VISIT MAIN SITE</div>
          </div>
        </div>
      </section>

      <section id="achievements" class="section section-header">
        <div class="wrapper">
          <div class="col col-12 col-wrapper">

            <div class="col col-4 col-wrapper">
              <div class="col col-4">homestars-logo</div>
              <div class="col col-8 col-wrapper">
                <div class="col col-12">9.9/10 HomeStars</div>
                <div class="col col-12"> Reviews</div>
              </div>
            </div>

            <div class="col col-4 col-wrapper">
              <div class="col col-4">bbb-logo</div>
              <div class="col col-8 col-wrapper">
                <div class="col col-12">BBB A+</div>
                <div class="col col-12">Accredited</div>
              </div>
            </div>

            <div class="col col-4 col-wrapper">
              <div class="col col-4">google-logo</div>
              <div class="col col-8 col-wrapper">
                <div class="col col-12">Google </div>
                <div class="col col-12">Verified & Guaranteed</div>
              </div>
            </div>

          </div>
        </div>
      </section>
      
      <section id="comfort" class="section section-comfort">
        <div class="wrapper">
          <div class="col col-6 col-wrapper">
            <div class="col col-12 col-wrapper">
              <h3>Comfort You Can Count On: Professional Heat Pump Installation in Toronto!</h3>
            </div>
            <div class="col col-12 col-wrapper">
              <p>Professional Experienced Heat Pump Installation Team. Best Services! Best Prices!</p>
            </div>
          </div>
          <div class="col col-6">
            <h3>img-worker-installs</h3>
          </div>
        </div>
        <div class="wrapper">
          <div class="col col-6"><button>Get a Free Get a Free</button></div>
          <div class="col col-6"><button>Call Our Heat Pump Expert</button></div>
        </div>
      </section>

      <section id="why-heat-pump" class="section section-why-heat-pump">
        <div class="wrapper">
          <div class="col col-12 tiles">
            <h2>Why Choose a Heat Pump?</h2>
          </div>

              <div class="col col-6 col-wrapper tile">
                <div class="col col-6">img</div>
                <div class="col col-6"><h4>Cost-Effectiveness</h4></div>
                <div class="col col-12"><p>The investment pays off in just a few years, with significant annual savings. Over the lifespan of a heat pump (around 15 years), you could save enough for a new family car in the average price range!</p></div>
              </div>

              <div class="col col-6 col-wrapper tile">
                <div class="col col-6">img</div>
                <div class="col col-6"><h4>Rebate Rewards</h4></div>
                <div class="col col-12"><p>Heat pumps are not only energy-efficient but also budget-friendly, thanks to government rebate programs that refund part of the installation cost. Check your eligibility today!</p></div>
              </div>

              <div class="col col-6 col-wrapper tile">
                <div class="col col-6">img</div>
                <div class="col col-6"><h4>Environmentally Friendly Heating</h4></div>
                <div class="col col-12"><p>Reduce your carbon footprint by using renewable energy sources. Heat pumps produce no harmful solid particles, promoting better health and environmental preservation.</p></div>
              </div>

              <div class="col col-6 col-wrapper tile">
                <div class="col col-6">img</div>
                <div class="col col-6"><h4>Year-Round Comfort</h4></div>
                <div class="col col-12"><p>Heat pumps provide both heating and cooling, dehumidifying your home in summer and ensuring year-round climate control—all in one efficient system.</p></div>
              </div>

        </div>
      </section>
      
      <section id="banner-family" class="section section-banner-family">
        <div class="wrapper wrapper-center">
          <div class="col col-12">
            <h3>img</h3>
          </div>
        </div>
      </section>
      
      <section id="steps" class="section section-steps">
        <div class="wrapper">
          <div class="col col-12">
            <h2>title</h2>
          </div>
          <div class="col col-12 col-wrapper">
            <div class="col col-6">img</div>
            <div class="col col-6 col-wrapper">
              <div class="col col-12">text</div>
              <div class="col col-12">phone</div>
              <div class="col col-12">time</div>
            </div>
          </div>

          <div class="col col-12 col-wrapper">
            <div class="col col-6 col-wrapper">
              <div class="col col-12">text</div>
              <div class="col col-12">button</div>
            </div>
            <div class="col col-6">img</div>
          </div>
        </div>
      </section>

      <section id="steps" class="section section-steps">
        <div class="wrapper">
          <div class="col col-12">
            <h2>section break</h2>
          </div>

          <div class="col col-12">title</div>
          <div class="col col-12">excellent</div>
          <div class="col col-12">google logo</div>
          <div class="col col-12">stars</div>
          <div class="col col-12">subtitle</div>

          <div class="col col-12">
            <div class="carousel reviews">
              <h2>carousel</h2>
            </div>
          </div>
          
          <div class="col col-12">
            <h2>section break</h2>
          </div>
        </div>
      </section>

      <section id="why-we" class="section section-why-we">
        <div class="wrapper">
          <div class="col col-12">
            <h2>title</h2>
          </div>
          <div class="col col-12">
            <h2>paragraph</h2>
          </div>
          <div class="col col-12 col-wrapper">
            <!-- // half -->
            <div class="col col-6 col-wrapper">
              <!-- // block -->
              <div class="col col-4">
                <h2>bbb logo</h2>
              </div>
              <div class="col col-8 col-wrapper">
                <div class="col col-12">
                  <h2>title</h2>
                </div>
                <div class="col col-12">
                  <h2>subtitle</h2>
                </div>
              </div>
              <!-- // block -->
              <div class="col col-4">
                <h2>bbb logo</h2>
              </div>
              <div class="col col-8 col-wrapper">
                <div class="col col-12">
                  <h2>title</h2>
                </div>
                <div class="col col-12">
                  <h2>subtitle</h2>
                </div>
              </div>
              <!-- // block -->
              <div class="col col-4">
                <h2>10 years</h2>
              </div>
              <div class="col col-8 col-wrapper">
                <div class="col col-12">
                  <h2>title</h2>
                </div>
                <div class="col col-12">
                  <h2>subtitle</h2>
                </div>
              </div>
          </div>
          <!-- // half -->
          <div class="col col-6 col-wrapper">
            <!-- // block -->
            <div class="col col-4">
              <h2>google</h2>
            </div>
            <div class="col col-8 col-wrapper">
              <div class="col col-12">
                <h2>title</h2>
              </div>
              <div class="col col-12">
                <h2>subtitle</h2>
              </div>
            </div>
          
            <!-- // block -->
            <div class="col col-4">
              <h2>licensed & certified</h2>
            </div>
            <div class="col col-8 col-wrapper">
              <div class="col col-12">
                <h2>title</h2>
              </div>
              <div class="col col-12">
                <h2>subtitle</h2>
              </div>
            </div>
          
            <!-- // block -->
            <div class="col col-4">
              <h2>$2M liability</h2>
            </div>
            <div class="col col-8 col-wrapper">
              <div class="col col-12">
                <h2>title</h2>
              </div>
              <div class="col col-12">
                <h2>subtitle</h2>
              </div>
            </div>
          </div>
        </div>
        
      </section>

      <section id="home" class="section section-home">
        <div class="wrapper">
          <div class="col col-6">
            <h2>home logo</h2>
          </div>
          <div class="col col-6">
            <h2>save energy logo</h2>
          </div>

          <div class="col col-12">
            <h2>title</h2>
          </div>
          <div class="col col-12">
            <h2>paragraph</h2>
          </div>
          
          <div class="col col-12 col-wrapper">
            <div class="col col-5">
              <h2>text</h2>
            </div>
            <div class="col col-3 col-wrapper">
              <div class="col col-12">
                <h2>button</h2>
              </div>
              <div class="col col-12">
                <h2>button</h2>
              </div>
            </div>
            <div class="col col-4">
              <h2>sticker img</h2>
            </div>
          </div>

        </div>
      </section>

      <section id="brands" class="section section-brands">
        <div class="wrapper">
          <div class="col col-12">
            <h2>title</h2>
          </div>
          <div class="col col-12">
            <div class="carousel brands"></div>
          </div>
      </section>
          
      <section id="learn" class="section section-learn">
          <div class="col col-12">
            <h2>title</h2>
          </div>
          <div class="col col-12 col-wrapper">
            <div class="col col-6"><h2>tile with text</h2></div>
            <div class="col col-6"><h2>img</h2></div>
          </div>
          
          <div class="col col-12 col-wrapper">
            <div class="col col-6"><h2>img</h2></div>
            <div class="col col-6"><h2>tile with text</h2></div>
          </div>
          <div class="col col-12 col-wrapper">
            <div class="col col-6"><h2>tile with text</h2></div>
            <div class="col col-6"><h2>img</h2></div>
          </div>
      </section>
          
      <section id="our-work" class="section">
        <div class="col col-12 col-wrapper">
          <div class="col col-3">img</div>
          <div class="col col-9"><h2>title</h2></div>
        </div>
        <div class="col col-12">
          <div class="carousel works">
            <h2>carousel works</h2>
          </div>
        </div>
        <div class="col col-12 col-wrapper">
          <div class="col col-6"><h2>button</h2></div>
          <div class="col col-6"><h2>button</h2></div>
        </div>
      </section>

      <section id="get-quote" class="section section-get-quote">
        <div class="wrapper">
          <div class="col col-6">
            <!-- // WRAPPER -->
            <div class="col col-12"><h2>title</h2></div>
            <div class="col col-12"><h2>form field</h2></div>
            <div class="col col-12"><h2>form field</h2></div>
            <div class="col col-12"><h2>form field</h2></div>
            <div class="col col-12"><h2>form field</h2></div>
            <div class="col col-12"><h2>form field</h2></div>
            <div class="col col-12"><h2>button</h2></div>
          </div>
        </div>
      </section>

      <section id="footer" class="section section-footer">
        <div class="wrapper">

          <div class="col col-12 col-wrapper">
            <div class="col col-4 col-wrapper">
              <div class="col col-4">img</div>
              <div class="col col-8">text</div>
            </div>

            <div class="col col-4 col-wrapper">
              <div class="col col-4">img</div>
              <div class="col col-8">text</div>
            </div>

            <div class="col col-4 col-wrapper">
              <div class="col col-4">img</div>
              <div class="col col-8">text</div>
            </div>
          </div>

          <div class="col col-12 col-wrapper">
            <div class="col col-3 col-wrapper">
              <div class="col col-12">logo</div>
            </div>
            
            <div class="col col-3 col-wrapper">
              <div class="col col-4">img</div>
              <div class="col col-8">text</div>
            </div>
            
            <div class="col col-3 col-wrapper">
              <div class="col col-4">img</div>
              <div class="col col-8">text</div>
            </div>
            
            <div class="col col-3 col-wrapper">
              <div class="col col-4">img</div>
              <div class="col col-8">text</div>
            </div>

          </div>

          <div class="col col-12 col-wrapper"></div>
          
        </div>
      </section>
    </div>
  </div>
</body>

</html>